[submodule "editorconfig"]
	path = editorconfig
	url = https://gist.github.com/krnd/c30eb12309f1876171918787097dd250
[submodule "git-gitattributes"]
	path = git-gitattributes
	url = https://gist.github.com/krnd/b1a2c8f62f60021203db7711dafc37ea
[submodule "git-gitignore"]
	path = git-gitignore
	url = https://gist.github.com/krnd/5dba40653a00acef42d1cf761a913d63
[submodule "javascript-eslint"]
	path = javascript-eslint
	url = https://gist.github.com/krnd/a5eb52aa488b1da078a274b4f3f45db1
[submodule "javascript-eslintignore"]
	path = javascript-eslintignore
	url = https://gist.github.com/8ea8ae850eba0e24d0ec606c95b8169c.git
[submodule "javascript-jsdoc"]
	path = javascript-jsdoc
	url = https://gist.github.com/krnd/6c254299509f6d63d672a029ff1eb01e
[submodule "python-flake8"]
	path = python-flake8
	url = https://gist.github.com/krnd/1f3fb6c05af365977e486c47cb7b4a72
[submodule "python-yapf"]
	path = python-yapf
	url = https://gist.github.com/krnd/3b8c5834c5c5c5097638ec10729787f7
[submodule "screeps-gruntfile"]
	path = screeps-gruntfile
	url = https://gist.github.com/krnd/f6ac654fe4f34e55b0ed8189a950d3e3
[submodule "unity-project_setup_script"]
	path = unity-project_setup_script
	url = https://gist.github.com/b4d7944e264b3d8fdcba2db67b75e51e.git
[submodule "vim-vimrc"]
	path = vim-vimrc
	url = https://gist.github.com/acf5b87ccbffe973cf2fe31e001222b6.git
[submodule "powershell-ohmyposh"]
	path = powershell-ohmyposh
	url = https://gist.github.com/6cbf63d7fa3895c8d9305162987dd118.git
[submodule "powershell-profile"]
	path = powershell-profile
	url = https://gist.github.com/a6d8fcfbe9d7929d8cbb371fdcb3926f.git
[submodule "windows-terminal"]
	path = windows-terminal
	url = https://gist.github.com/31cb6d2e18c97723188c722add8b0ace.git
[submodule "git-gitconfig"]
	path = git-gitconfig
	url = https://gist.github.com/07d081ab245193455f07f208be5e0d97.git
